*.swp
*.swo
code/ncount
code/ncount_new_gdv
code/e_gdv
code/core
code/unit_tests
code/Makefile~
code/avg_gdv
code/graphcrunch101
code/genAvgEgdvRndNets
code/pears_coeff
code/generated_results/*
code/generated_results_norm1/*
code/test_bank/*
code/model_nets_rand_generated/
code/model_nets_rand_generated.BACKUP/
*.gr_freq
*.txt~
*.aux
*.bbl
*.blg
*.log
*.tex~
*.toc
*.bib~
*.pyc
*.backup
code/libs/R/CCA/
docs/interim.pdf
paper/report.pdf
final_report.kilepr
docs/economic_results.out
docs/economic_results.pdf
docs/interpretation_graphlets.out
docs/norm1_interpretation.out
docs/norm1_interpretation.pdf
paper/paper.out
paper/paper.pdf
report_imperial/Makefile~
report_imperial/report.kilepr
report_imperial/report.out
pears_coeff_gdv
test_matrix
tmp_folder/
trade_2010_thresholded.sigs
report_imperial/report.dvi
